html,body{
    height: 100vh;
    width: 100vw;
}

html{
    font-size: 10px;
}

body{
    color: #dfdfdf;
}

.fitImg{
    position: absolute;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.ctc{
    color: #fff;
    height: 100vh;
    padding: 40px;
}
.box1{
    background: #DEDEDE;
    z-index: 1;
}
.box2{
    background: #4CA4CF;
    z-index: 2;
}
.box3{
    background: #e5cf54;
}
.box4{
    background: #45CB99;
}